 body {
    margin: 0; 
    padding: 0;
    color: #777;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
}
div {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}
/* Alinhamento da pagina */
.conteiner {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Barra superior de contato */
.barracontato {
    width: 100%;
    display: flex;
    background-color: rgb(33, 175, 151);
    justify-content: center;
}

.barracontatoconteudo {
    height: 36px;
    display: flex;
    align-items: center;
}
.numerocontato a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}
.numerocontato {
    width: 615px;
    display: flex;
    justify-content: flex-start;
}

.faq {
    align-items: center;
    width: 615px;
    height: 36px;
    display: flex;
    justify-content: flex-end;
}

.faq a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 5px;
}

/* Barra de Navegação */

.navbar {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 87px;
    background-color: rgb(38, 165, 144);
    align-items: center;
}

.navbaralinhar {
    width: 1230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Barra de Pesquisa */

.pesquisa {
    display: flex;
    justify-content: center;
}

.pesquisa input {
    padding: 8px;
    font-size: 18px;
    width: 733px;
    height: 42px;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 214px;
    height: 60px;
    margin-right: 24px;
}

/* Login */
.login {
    display: flex;
    height: 70px;
    align-items: center;
    margin-left: 24px;
}

.loginimagem, .loginlink {
    display: inline-block;
}

.loginlink {
    max-width: 120px;
    max-height: 42px; 
    margin: 3px;
}

.loginlink a{
    color: white;
    text-decoration: none;
    width: 100px;
    height: 35px;
    font-size: 12px;
    margin: 4px;
    font-family: sans-serif;
    margin: 0px;
}

.loginimagem img {
    width: 44px;
    height: 38px;
    margin: 4px;
    
}

/* Menu Horizontal de Produtos */
.menuhorizontalprodutos {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 3px solid #e5e5e5;
}
.listamenu {
    list-style: none;
    display: flex;
    width: 1230px;
    justify-content: space-between;
    align-items: center;
}

.listamenu li a {
    margin: 27px;
    color:#8c8c8c;
    text-decoration: none;
}

.menuvertical {
    display: flex;
    align-items: center;
}

.menuvertical img {
    width: 31px;
    height: 31px;
    margin-right: 7px;
}

.textomenuvertical {
    color: rgb(38, 165, 144);
}

.menuvertical p {
    color:#8c8c8c;
}

/* Conteudo do slider */

.sliders img {
    display: flex;
    width: 100%;
    z-index:1; 
}
/* The dots/bullets/indicators */

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Css Produtos */

.produto img {
    width: 200px;
    height: 150px;
}

.categorianome {
    color: #717171;
    width: 1000px;
    display: flex;
    flex-direction: row;
}

.conteudosprodutos {
    display: flex;
    flex-wrap: wrap;
    width:1108px;
   /* justify-content: center; */
    height: 100%;
}

.produto {
    padding: 15px;
    width: 239px;
    height: 300px;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: 3px;
}


/* Css Página de admin */


.navbarvertical {
    background-color: aquamarine;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
}

.opcoesadmin {
    display: flex;
    list-style: none;
}

.opcoesadmin li a {
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    background-color: #2a9e8b;
    border-radius: 14px;
    color: #ffffff;
}


.formprodutos {
    background-color: #2a9e8b;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.formprodutos input {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
}

.formprodutos label {
    color: #ffffff;
}

/* Login */


/* Slider 2 */

.slider2  img{
    width: 100%;
}

.bannerbody div a img {
        width: 380px;
        height: 180px;
        padding-left: 15px;
        padding-right: 15px;

}
.bannerbody {
    width: 1230px;
    display: flex;
    justify-content: center;
}

/* Produtos em Destaque */


.produtosDestaquetitulo {
    width: 1230px; 
    justify-content: space-between;
    display: flex;
    height: 90px;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.linhahorizontal {
    border-bottom: 2px solid #666;
    width: 70%;
}

.bannercloseup img{
    width: 100%;
    height: 475px;
}
.banner1direita {
    width: 50%;
}

.banner1direita img{
    width: 100%;
    height: 100%;
}

.bannerdove {
    width: 1230px;
    height: 542px;
    display: flex;
}

.bannerdir {
    width: 50%;
    height: 542px;
}

.bannerdir img {
    height: 50%;
    width: 100%;
}