 body {
    margin: 0; 
    padding: 0;
    color: white;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
}
div {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}
/* Alinhamento da pagina */
.conteiner {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Barra superior de contato */
.barracontato {
    width: 100%;
    display: flex;
    background-color: rgb(33, 175, 151);
    justify-content: center;
}

.barracontatoconteudo {
    height: 36px;
    display: flex;
    align-items: center;
}
.numerocontato a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}
.numerocontato {
    width: 615px;
    display: flex;
    justify-content: flex-start;
}

.faq {
    align-items: center;
    width: 615px;
    height: 36px;
    display: flex;
    justify-content: flex-end;
}

.faq a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 5px;
}

/* Barra de Navegação */

.navbar {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 87px;
    background-color: rgb(38, 165, 144);
    align-items: center;
}

.navbaralinhar {
    width: 1230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Barra de Pesquisa */

.pesquisa {
    display: flex;
    justify-content: center;
}

.pesquisa input {
    padding: 8px;
    font-size: 18px;
    width: 733px;
    height: 42px;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 214px;
    height: 60px;
    margin-right: 24px;
}

/* Login */
.login {
    display: flex;
    height: 70px;
    align-items: center;
    margin-left: 24px;
}

.loginimagem, .loginlink {
    display: inline-block;
}

.loginlink {
    max-width: 120px;
    max-height: 42px; 
    margin: 3px;
}

.loginlink a{
    color: white;
    text-decoration: none;
    width: 100px;
    height: 35px;
    font-size: 12px;
    margin: 4px;
    font-family: sans-serif;
    margin: 0px;
}

.loginimagem img {
    width: 44px;
    height: 38px;
    margin: 4px;
    
}

/* Menu Horizontal de Produtos */
.menuhorizontalprodutos {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 3px solid #e5e5e5;
}
.listamenu {
    list-style: none;
    display: flex;
    width: 1230px;
    justify-content: space-between;
    align-items: center;
}

.listamenu li a {
    color:#8c8c8c;
    text-decoration: none;
    font-size: 15px;
}
.listamenu li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listamenu li:hover {
    background-color: #e5e5e5;
    transition: all .7s ease;
}

.listamenu li a:hover {
    color: #ffffff;
}

.menuvertical {
    display: flex;
    align-items: center;
}

.menuvertical img {
    width: 31px;
    height: 31px;
    margin-right: 7px;
}

.textomenuvertical {
    color: rgb(38, 165, 144);
<<<<<<< HEAD
}

/* Conteudo do slider */

.sliders img {
    display: flex;
    width: 100%; 
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
=======
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 50px;
}

.menuvertical p {
    color: black;
    display: flex;
    width: 127px;
    margin-right: 5px;
}

>>>>>>> refs/remotes/origin/master
